th, td {
    overflow: hidden;
    width:auto;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  table {
    width: 100%;
    table-layout: fixed;
  }
  .mat-column-action{
    width: 150px;
  }
  .mat-column-index{
    width: 125px;
  }
  .mat-column-description{
    width:555px
  }
  